<!-- <section class="order" id="order">
  <div class="container">
    <img src="../img/rectangle.webp" alt="girl" width="588" />
    <div class="form-box">
      <h2 class="order-title">
        Your order is our priority: Personalized approach and quality of service
      </h2>
      <form class="oder-form">
        <div class="order-form-box">
          <label
            ><input
              type="text"
              placeholder="Enter your full name"
              class="order-form-input"
              pattern=".{2,}"
              title="Ім'я може містити лише літери, пробіли або дефіси"
              required
          /></label>
        </div>
        <div class="order-form-box">
          <label
            ><input
              type="email"
              placeholder="Enter your email"
              class="order-form-input"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              title="Введіть коректну адресу (наприклад, example@mail.com)"
              required
          /></label>
        </div>
        <div class="order-form-comment">
          <label>
            <textarea
              name=""
              id=""
              placeholder="Comments"
              class="order-form-input comment"
            ></textarea>
          </label>
        </div>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</section> -->
