

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #1C2225;
  font-family: "Manrope", sans-serif;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}