.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header{position: relative;}

.mobile-menu {
  width: 274px;
  padding: 20px;
  margin: 0 auto;
  background-color: #ECD979;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top:0;
  right: 0;
  height: 100vh;
}

.is-open {
  overflow: auto;
  opacity: 1;
  pointer-events: visible;
}

.mobile-container {}

.header-nav-list {
  display: none;
}

.address-tel {
  display: none;
}

.address-list {
  display: none;
}

.mobile-menu-btn {
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .header-address {
    margin-left: auto;
    font-style: normal;
  }

  .address-list {
    display: flex;
    align-items: center;
  }



  .address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #fcf9f9;
  }




  .social-link {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 8px;
    width: 44px;
    height: 44px;
    background: rgba(252, 249, 249, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1210px) {
  .header-navigation {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  .header-nav-list {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  .nav-list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #fcf9f9;
    padding: 17px 0;
    display: block;
  }

  .address-tel {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 28px;
    /* width: 193px;
          height: 48px; */
  }

  .address-item:nth-child(1) {
    margin-right: 20px;
  }

  .address-item:nth-child(2) {
    margin-right: 12px;
  }

  .address-item:nth-child(3) {
    margin-right: 12px;
  }

  .address-tel {
    display: block;
  }

  .mobile-menu-btn {
    display: none;
  }
}






/* коментар */




.header-logo {}



.nav-list-item {}



/* .address-item:nth-child(1) {
    margin-right: 20px;
}

.address-item {
    margin-right: 12px;
}

.address-item:nth-child(4){
margin-right: 0;
} */







.header-address {}

.address-list {}