/* #region order */

.order .container {
  display: flex;
  gap: 50px;
}

.form-box {}

.order-title {
  margin-bottom: 40px;
}

.oder-form {}

.order-form-box {
  margin-bottom: 20px;
}

.order-form-input {
  height: 50px;
  width: 508px;
  border: 1px solid #FCF9F9;
  border-radius: 15px;
  background-color: inherit;
}

.comment {
  height: 196px;
  width: 508px;
  resize: none;
}

/* #endregion  order*/